@import "tailwindcss";

/* Aquí es donde definimos los colores para la v4 */
@theme {
  --color-midnight: #0b0f19;
  --color-surface: #161d2f;
  --color-gold: #ffb43a;
  --color-gold-hover: #e5a132;
}

/* Aplicamos el fondo al body */
@layer base {
  body {
    @apply bg-midnight text-white antialiased;
    margin: 0;
  }

  html {
    scroll-behavior: smooth;
  }
}